dnl -------------------------------------------------------
dnl  System Architecture: [SGI | IBM | LINUX | DEC | CRAY]
dnl -------------------------------------------------------
dnl
define([%FV_ARCH%], [%arch%])dnl
dnl
dnl ----------------------------------
dnl  System Name: [gseaborg | other ]
dnl ----------------------------------
dnl
define([%FV_MACH%], [%mach%])dnl
dnl
dnl ----------------------------------------------
dnl  Type of script: [GENERIC | MONTHLY | WEEKLY]
dnl ----------------------------------------------
dnl
define([%FV_TYPE%], [%type%])dnl
dnl
dnl ---------------------------------
dnl  Use stage? [USESTAGE | NOSTAGE]
dnl ---------------------------------
dnl
define([%FV_STAGE%], [%staging%])dnl
dnl
dnl ---------------------------------
dnl  Land surface data directory? [/stage/fvgcm | other]
dnl ---------------------------------
dnl
define([%FV_DATA%], [%fvdata%])dnl
dnl
dnl -----------------------------------------------
dnl  Testing? (For developers only) [TRUE | FALSE]
dnl -----------------------------------------------
dnl
define([%FV_TEST%], [%FALSE%])dnl
dnl 
dnl ------------------------------------------------
dnl ------------------------------------------------
dnl  Fake run? (For developers only) [TRUE | FALSE]
dnl ------------------------------------------------
dnl
define([%FV_FAKE%], [%fake%])dnl
dnl
dnl ------------------------------------------------
