 &INPUT
  JOB      = '>>>EXPID<<<'      ! Experiment ID
  NCPATH   = './'      ! absolute path for boundary conditions
  SSTDATA  = 'g4sst.nc'    ! SST dataset (NetCDF)
  SSTCYC   = .true.       ! if .TRUE. climatological SST is used
  OZNDATA  = 'g4ozdata.nc'    ! Ozone dataset (NetCDF, zonal mean)
  H2ODATA  = 'g4h2odata.bin'    ! Water vapor dataset (direct access)
  SRFDATA  = 'g4surf.bin'    ! orography data set (IEEE)
  NYMDB    = >>>NYMDB<<<     ! starting date of restart file (YYYYMMDD)
  NHMSB    = >>>NHMSB<<<     ! starting time of restart file (HHMMSS)
  NYMDE    = >>>NYMDE<<<     ! ending date of restart file (YYYYMMDD)
  NHMSE    = >>>NHMSE<<<     ! ending time of restart file (HHMMSS) 
  NDAY     = >>>NDAY<<<      ! number of days to simulate in this run
  FCSTBEG  = 0         ! beginning date to write restarts
  FCSTFRQ  = 0         ! frequency (in days) to write restarts
  FCSTHRS  = -1         ! hours to write restarts
  PDT      = >>>PDT<<<     ! frequency (in seconds) to call physics
  MDT      = >>>MDT<<<     ! freq (in secs) to perform vertical remapping
  FVPSASDT = 060000     ! Analysis frequency (HHMMSS)
  NDOUT    = 0        ! freq (HHMMSS) to output prog fields (snapshot)
  NGOUT    = 0        ! freq (HHMMSS) to output upper air diag fields (average)
  NGOUT2D  = 0      ! freq (HHMMSS) to output surface diag fields (average)
  DIAG2DNM = '%s.diag.sfc.%y4%m2%d2_%h2z.>>>NCSUFFIX<<<' ! 2d diag filename for output
  DIAG3DNM = '%s.diag.eta.%y4%m2%d2_%h2z.>>>NCSUFFIX<<<' ! 3d diag filename for output
  PROG3DNM = '%s.prog.eta.%y4%m2%d2.>>>NCSUFFIX<<<' ! 3d prog filename for output
  RMAPTRJ  = >>>TRAJFRQ<<<     ! freq (HHMMSS) of trajectory output
  TRAJFRQ  = >>>TRAJFRQ<<<     ! freq (HHMMSS) of trajectory output
  PTRJFRQ  = >>>TRAJFRQ<<<     ! freq (HHMMSS) of physics trajectory output
  TRAJTMPL = '%s.traj.lcv.%y4%m2%d2_%h2%n2z.>>>NCSUFFIX<<<' ! 3d trajectory filename (state vector)
  PTRJTMPL = '%s.ptrj.prs.%y4%m2%d2_%h2%n2z.>>>NCSUFFIX<<<' ! 3d trajectory filename (vdiff physics)
  NSPLIT   = 0       ! no. of small timesteps within each large timestep
  ZSTAT    = .true.        ! whether to output zonal means
  CCM3     = .false.         ! if .TRUE., calls CCM3 physics
  RAYF     = .false.        ! if .TRUE. applies Rayleigh friction
  IUHS     = 80            ! f77 unit number for input orography file 
  IUIC     = 81            ! f77 unit number for dynamics restart file
  IOUT     = 82            ! f77 unit number for output prog fields
  IZOU     = 99            ! f77 unit number for output zonal mean fields
  NSREST   = 1             ! 0: init run; 1: normal restart; 2 - branch run 
  DIAG     = .false.       ! if .TRUE. output diagnostic fields
  PREC_DAS = 1             ! analysis dyn file precision: =0 (32 bits), =1 (64 bits) 
 &END

# backward (adjoint) integration length in hours
integration_length_hrs: 24

# hours lagging start time of backward integration
integration_time_lag_start_hrs: >>>ADMBEGTLAG<<<

# number of tracers (bypass what is in trajectory and rst files)
# 1=sphu;2=1+ozone
number_of_tracers: 2

# name of geos4 restart file
g4_restart_name: rst.>>>NCSUFFIX<<<

# Gaussian quadrature order
GQ_ORDER: 1

# Order of adjoint approximation
ASENS_ORDER: 2

# Filename template of prognostic fields from forecasts not available to present run
#forecast_filename_from_background: /archive/u/rtodling/%s/prog_orig/Y%y4/M%m2/D%d2/H%h2/%s.prog.eta.%y4%m2%d2_%h2z+%%y4%%m2%%d2_%%h2z.nc4
forecast_filename_from_background: NONE
