# fvsvec.rc

# History:
# -------
#
#  28Oct2002 Todling  - Created.  
#  23Jun2004 Gelaro   - Modified for use with NAG or ARPACK solver
#  20Dec2005 Gelaro   - Modified for Lanczos restart capability
#  29Aug2006 Todling  - Added CNOP-related parameters
#


# 0. Generic parameters (independent of NAG/ARPACK choice)
# --------------------------------------------------------

# select eigensolver (1=ARPACK, 2=NAG)
eigensolver_package: 2

# final-time SV norm
svec_norm: te

# initial-time SV norm (default - same as final-time norm)
initial_svec_norm: te

# local projection      west-lon  east-lon    so-lat  no-lat   upper-lev  lower-lev
local_svec_projection:     0       360          28     60         40        99 


# calculate eigenvectors (if no, only eigenvalues)
calculate_eigenvectors:  yes
 
# produce final-time (evolved) SVs
evolve_svec: yes

# test-level for norms (0, 1, 2)
do_norm_test: 1

# maximum number of ADM_TLM iterations per job segment
maximum_iterations_per_job: 10



# 1. ARPACK-specific parameters
# -----------------------------

# desired number of converged SVs (and/or singular values)
number_eigenvectors:  1

# this * nev = number of Lanczos basis vectors used in the eigendecomposition
number_lanczos_basis_vectors:  4

# relative accuracy of eigenvalue calculation
eigenvalue_relative_accuracy:  0.05

# maximum allowed number of Arnoldi iterations 
maximum_arnoldi_iterations:  10

# check on accuracy of eigendecomposition
eigen_decomposition_accuracy:  no

# which eigenvalues: LM=leading, SM=trailing, BE=both (default is LM)
which_eigenvalues: LM



# 2. NAG-specific parameters
# --------------------------

# total number of Lanczos iterations
number_lanczos_iterations: 10

# accuracy for eigenvector calculation
eigenvector_accuracy: 0.05


# 3. CNOP (SPG-based minimization)
# --------------------------------

# Number of CNOPs to calculate (only 1 for now)
number_of_cnops: 1

# total number of SPG iterations
number_spg_iterations: 10

# tolerance for convergence criterium for CNOP (converges for norm < tol**2)
cnop_tolerance: 0.32

# maximum norm value to be acheived by CNOP (in TE or KE units)
cnop_norm_value: 28

