# pseudo.rc

# History:
# -------
#
#  10Dec2005 -  RG/EN  -  Adopted simsv.x program to create pseudo.x 
#  04Mar2009 -  Todling - All hdf suffixes to nc4
#
# provide template (and path) for initial singular vector filenames
                                                                                                                             
 ISVEC_filename: /nobackup2/enovakov/a18_NOV05/48_HRS_SVECS/u1_c55.isvec.eta.20051105_00z.te001.nc4

# provide template (and path) for evolved singular vector filenames
                                                                                                                             
 FSVEC_filename: /nobackup2/enovakov/a18_NOV05/48_HRS_SVECS/u1_c55.fsvec.eta.20051107_00z.te001.nc4

# provide a name for svalu_file, where singular values are stored
 SVALUES_file: /nobackup2/enovakov/a18_NOV05/48_HRS_SVECS/u1_c55.svalu.20051105.txt
                                                                                                                             
# provide reference state vector filename 
 file_nameR: /nobackup2/enovakov/a18_NOV05/u1_c55.traj.lcv.20051105_00z+20051107.nc4 

# provide either 2 filenames, if a forecast error is calculated in the pseudo.x program, 
#  or 1 filename, if a forecast error vector is already written out to a file

# file_nameB1: /nobackup2/enovakov/a18_NOV05/sens.20051107.000000/verify_fcst.nc4
# file_nameB2: /nobackup2/enovakov/a18_NOV05/sens.20051107.000000/verify_anal.nc4

 file_nameB1: /nobackup2/enovakov/a18_NOV05/fsens2pert.nc4

# local projection      west-lon  east-lon    so-lat  no-lat   upper-lev  lower-lev
 local_svec_projection:    -180       180       20       90       6         18

