# This illustrates a setting for 3 tracers
# ----------------------------------------
short_name_tracer001: sphu
long_name_tracer001: specific_humidity
units_tracer001: kg/kg

short_name_tracer002: ozone
long_name_tracer002: ozone_volume_mixing_ratio
units_tracer002: kg/kg

short_name_tracer003: qitot
long_name_tracer003: mass_fraction_of_cloud_ice_water
units_tracer003: kg/kg

short_name_tracer004: qltot
long_name_tracer004: mass_fraction_of_cloud_liquid_water
units_tracer004: kg/kg
