# initadj.rc

# History:
# -------
#
#  30Sep2004 Winslow  - Original code
#  07May2007 Todling  - Removed date/time from here
#  14Nov2007 Todling  - Set default proj box to be tropospheric
#  10Oct2007 Todling  - Add V-norm parameter
#  21Jul2014 McCarty  - Extend default vertical box for norm to lvl 13 (~1 hPa)
#  15Oct2015 Holdaway - Added moist available enthalpy option
#  23Jul2018 Todling  - Revised vnorm opt (now an integer with multiple opts)
#

# Compute J based on the difference of two fields? (no = single field/file)
diff_file: yes

# Use V-norm as in Errico et al. (2008)
#   0 = original mass weights
#   1 = original height weights following Errico et al. (2008)
#   2 = hybrid (blend) 0.50(0+1) of approaches above
vnorm: 0

# Select reference file type(s) ( RTL1, RTL2, RAD1, RAD2, NLM1, NLM2 )
file_type1: NLM1
file_type2: NLM2

# Select the type of J used to define the gradient to initialize the adjoint
# model. All options require you to also choose an init_field below.

# J=A*S mean of single field
# pert_norm: bmx    # box_mean                   

# J=A*S mean square of single RorD field
# pert_norm: bms    # box_mean_square            

# J=sq root of A*S mean square of single RorD field  
# pert_norm: rms    # root_mean_square           

# J=A*S integral of total energy in box
# pert_norm: txe    # total_energy               
  pert_norm: twe    # total_wet_energy               

# J=A*S integral of available moist enthaply (Marquet and Mahfouf 2015)
# pert_norm: mae    # moist_available_enthalpy

# J=only u- and v-field portions of 'total energy'
# pert_norm: kxe    # kinetic_energy             

# J=only T- and ps-field portions of 'total energy'
# pert_norm: ape    # available_potential_energy 

# J=only T-field portion of 'total energy'
# pert_norm: ate    # available_thermal_energy   

# J=A*S mean circulation (vorticity) within box
# pert_norm: mcx    # mean_circulation           

# Select field type used for initialization: 
# Note: total_energy, kinetic_energy, available_potential_energy, 
# mean_circulation require multiple fields.
# In this case use the '___' option. The box_mean, box_mean_square, and 
# root_mean_square options require one of the other init_field options
# init_field: u__
# init_field: v__
# init_field: vpT
# init_field: q__
# init_field: dp_
# init_field: ps_ 
# init_field: T__
 init_field: ___ 

# Ehrendorfer, Errico, and Raeder eps constant (either 0 or 1 - but for practical issues set to 0.3)
  ehrendorfer_errico_raedder_eps: 0.3

# Local projection     east-lon  west-lon    so-lat  no-lat   upper-lev  lower-lev
# local_svec_projection:   -70       -40         25      55       9          18
# local_svec_projection:     0       360        -90      90       6          18
# local_svec_projection:     0       360        -90      90       41         99
 local_svec_projection:     0       360        -90      90       13         99

