met_guess::
!var     level   crtm_use    desc                 orig_name
  ps        1      -1         surface_pressure     ps
  z         1      -1         geopotential_height  phis
  u        40       2         zonal_wind           u
  v        40       2         meridional_wind      v
  div      40      -1         zonal_wind           div
  vor      40      -1         meridional_wind      vor
  tv       40       2         virtial_temperature  tv
  q        40       2         specific_humidity    sphu
  oz       40       2         ozone                ozone
  cw       40      -1         cloud_condensate     qctot
#ql       40      12         Water                qltot
#qi       40      12         Ice                  qitot
#qr       40      12         Rain                 qrtot
#qs       40      12         Snow                 qstot
#qg       40      10         Graupel              qg
#qh       40      10         Hail                 qh
# cf       40       2         cloud_frac4rad(fcld) cloud
#  z_c       1      -1         cool_layer_depth     DCOOL
#  z_w       1      -1         warm_layer_depth     DWARM
#  dt_cool   1      -1         cool_layer_tdrop     TDROP
#  tdel      1      -1         warm_layer_ttop      TDEL
#  tref      1      -1         foundation_temp      TS_FOUND
! tskin     1      ??         skin_temperature     ts
! frland    1      -1         fraction_land        frland
! frlandice 1      -1         fraction_land_ice    frlandice
! frlake    1      -1         fraction_lake        frlake
! frocean   1      -1         fraction_ocean       frocean
! frseaice  1      -1         fraction_sea_ice     frseaice
! snowdep   1      -1         snow_depth           SNOWDP
! soilmst   1      -1         snow_depth           GWETTOP
::

state_derivatives::
!var  level  src
 ps   1      met_guess
 u    40     met_guess
 v    40     met_guess
 tv   40     met_guess
 q    40     met_guess
 oz   40     met_guess
 cw   40     met_guess
#ql   40     met_guess
#qi   40     met_guess
#qr   40     met_guess
#qs   40     met_guess
 prse 41     met_guess
#sst  central  --> I don't think this is needed
::

state_tendencies::
!var  levels  source
 prse 41      met_guess
 oz   40      met_guess
 u    40      met_guess
 v    40      met_guess
 tv   40      met_guess
 q    40      met_guess
 cw   40      met_guess
#ql   40      met_guess
#qi   40      met_guess
#qr   40      met_guess
#qs   40      met_guess
::

#background_bias_estimator::
#!var  levels  source
# ps    1      met_guess
# sst   1      met_guess
# tv   40      met_guess
# div  40      met_guess
# vor  40      met_guess
# u    40      met_guess
# v    40      met_guess
# q    40      met_guess
# oz   40      met_guess
# cw   40      met_guess
# qi   40      met_guess
# ql   40      met_guess
# qr   40      met_guess
# qs   40      met_guess
#::

chem_guess::
#!var     level  itracer crtm_use   type              orig_name
# co       40      1        -1       n-a                CO
  co2      40      1         3       n-a                CO2
#      GOCART Aerosols
#    ------ Dust ------
#du001     40      1         11      dust               DU001
#du002     40      1         11      dust               DU002
#du003     40      1         11      dust               DU003
#du004     40      1         11      dust               DU004
#du005     40      1         11      dust               DU005
#     ------ Sea-salt ------
#ss001     40      1         11      ssam               SS001
#ss002     40      1         11      sscm1              SS002
#ss003     40      1         11      sscm2              SS003
#ss004     40      1         11      sscm3              SS004
#ss005     40      1         11      sea_salt           SS005
#     ------ Sulfates ------
#so4       40      1         11      sulfate            SO4        
#     ------ Carbonaceous (main) ------
#bcphobic  40      1         11      dry_black_carbon   BCPHOBIC
#bcphilic  40      1         11      wet_black_carbon   BCPHILIC
#ocphobic  40      1         11      dry_organic_carbon OCPHOBIC
#ocphilic  40      1         11      wet_organic_carbon OCPHILIC
::

state_vector::
!var     level  itracer source     funcof
 u        40      0     met_guess    u
 v        40      0     met_guess    v
#u        40      0     met_guess    chi,psi
#v        40      0     met_guess    chi,psi
 tv       40      0     met_guess    tv
 tsen     40      0     met_guess    tv,q
 q        40      1     met_guess    q
 oz       40      1     met_guess    oz
#cw       40      1     met_guess    cw
#ql       40      1     met_guess    ql
#qi       40      1     met_guess    qi
#qr       40      1     met_guess    qr
#qs       40      1     met_guess    qs
 prse     41      0     met_guess    prse
#co       40      1     chem_guess   co
#co2      40      1     chem_guess   co2
 ps        1      0     met_guess    prse
 sst       1      0     met_guess    sst
::

control_vector::
!var     level  itracer as/tsfc_sdv  an_amp0   source  funcof
 sf       40      0       0.45        -1.0     state    u,v
 vp       40      0       0.55        -1.0     state    u,v
 t        40      0       0.90        -1.0     state    tv
 q        40      1       0.60        -1.0     state    q
 oz       40      1       0.20        -1.0     state    oz
#co       40      1       0.20        -1.0     state    co
#cw       40      1       1.00        -1.0     state    cw
#ql       40      1       0.00        -1.0     state    ql
#qi       40      1       0.00        -1.0     state    qi
#qr       40      1       0.00        -1.0     state    qr
#qs       40      1       0.00        -1.0     state    qs
 ps        1      0       0.75        -1.0     state    prse
#sst       1      0       2.40        -1.0     state    sst
 sst       1      0       1.20        -1.0     state    sst
 stl       1      0       3.00        -1.0     motley   sst
 sti       1      0       3.00        -1.0     motley   sst
::

#correlated_observations::
! Notes: 
! (1) method:
!     -1 - leave as is (ie, default R)
!      0 - diag of estimated R only
!      2 - full R
! (2) kreq is the parameter in Weston et al. (2014) to adjust the spetrum of R
!     code listens to factors made larger than zero in the table below.
! (3) present value settings for AIRS and IASI bring J/n considerable closer to 1/2
!
! obtype   method  kreq  type   cov_file
# airs       2      25.  sea    airs_ocean_rcov.bin
# cris      -1     -99.  global cris_rcov.bin
# iasi       2      15.  global iasi_ocean_rcov.bin
# ssmis     -1     -99.  global ssmis_rcov.bin
#::
