satlist::
acos
airs_aqua
amsr2_gcom-w1
amsre_hig_aqua
amsre_low_aqua
amsre_mid_aqua
amsre_aqua
amsua_aqua
amsua_metop-a
amsua_metop-b
amsua_metop-c
amsua_n15
amsua_n16
amsua_n17
amsua_n18
amsua_n19
amsub_n15
amsub_n16
amsub_n17
atms_npp
atms_n20
atms_n21
avhrr_metop-a
avhrr_metop-b
avhrr_metop-c
avhrr_n15
avhrr_n16
avhrr_n17
avhrr_n18
avhrr_n19
cris_npp
cris-fsr_npp
cris-fsr_n20
gmi_gpm
goes_n08
goes_n10
goes_n12
hirs2_n05
hirs2_n06
hirs2_n07
hirs2_n08
hirs2_n09
hirs2_n10
hirs2_n11
hirs2_n12
hirs2_n14
hirs2_tirosn
hirs3_n15
hirs3_n16
hirs3_n17
hirs4_metop-a
hirs4_metop-b
hirs4_n18
hirs4_n19
hsb_aqua
iasi_metop-a
iasi_metop-b
iasi_metop-c
imgr_g08
imgr_g10
imgr_g12
mhs_metop-a
mhs_metop-b
mhs_metop-c
mhs_n18
mhs_n19
mopitt
msu_n05
msu_n06
msu_n07
msu_n08
msu_n09
msu_n10
msu_n11
msu_n12
msu_n14
msu_tirosn
pcp_ssmi_dmsp
pcp_ssmi_dmsp08
pcp_ssmi_dmsp10
pcp_ssmi_dmsp11
pcp_ssmi_dmsp13
pcp_ssmi_dmsp14
pcp_ssmi_dmsp15
pcp_tmi_trmm
pcp_tmi_trmm_lnd
pcp_tmi_trmm_ocn
seviri_m08
seviri_m09
seviri_m10
sndr_g08_prep
sndr_g10_prep
sndr_g11
sndr_g11_prep
sndr_g12
sndr_g12_prep
sndr_g13
sndr_g13_prep
sndr_g15
sndrd1_g11
sndrd1_g12
sndrd1_g13
sndrd1_g14
sndrd1_g15
sndrd2_g11
sndrd2_g12
sndrd2_g13
sndrd2_g14
sndrd2_g15
sndrd3_g11
sndrd3_g12
sndrd3_g13
sndrd3_g14
sndrd3_g15
sndrd4_g11
sndrd4_g12
sndrd4_g13
sndrd4_g14
sndrd4_g15
ssmi_f08
ssmi_f10
ssmi_f11
ssmi_f13
ssmi_f14
ssmi_f15
ssmis_env_f16
ssmis_f16
ssmis_f17
ssmis_f18
ssmis_img_f16
ssmis_las_f16
ssmis_uas_f16
ssu_n05
ssu_n06
ssu_n07
ssu_n08
ssu_n09
ssu_n11
ssu_n14
ssu_tirosn
tmi_trmm
::

ozlist::
gome_metop-a
gome_metop-b
mls20_aura
mls22_aura
mls30_aura
mls55_aura
mls_aura
o3lev_aura
ompslpnc_npp
ompslpuv_npp
ompslpvis_npp
ompsnm_npp
ompsnmeff_npp
ompsnp_npp
ompsnpnc_npp
omi_aura
omieff_aura
sbuv2_n07
sbuv2_n09
sbuv2_n11
sbuv2_n14
sbuv2_n16
sbuv2_n17
sbuv2_n18
sbuv2_n19
sbuv2_nim07
sbuv8_n07
sbuv8_n09
sbuv8_n11
sbuv8_n14
sbuv8_n16
sbuv8_n17
sbuv8_n18
sbuv8_n19
sbuv8_nim07
tomseff_ep
tomseff_nim07
::

convlist::
conv
conv_uv
conv_t
conv_ps
conv_q
conv_gps
conv_tcp
conv_pw
conv_spd
conv_sst
conv_aura_t
conv_prof_t
conv_prof_uv
::

tgaslist::
mopitt_terra
acos_gosat
acos_oco2
flask_noaa
::
