satlist::
null_null
::

ozlist::
mls55_aura
omieff_aura
::

tgaslist::
besd_co2_sciam
wfmd_co2_sciam
wfmd_ch4_sciam
imap_ch4_sciam
leic_ch4_gosat
acos_lndmg_gosat
acos_lndhg_gosat
acos_ocnhg_gosat
oco2_lndnd
oco2_lndgl
oco2_ocngl
oco3_lndnd
oco3_lndgl
oco3_ocngl
oco3_targ
oco3_trans
oco3_sam
obspack_oco2mip
tccon_co2
tccon_ch4
tccon_co
tccon_n2o
mopitt_tir_terra
mopitt_nir_terra
iasi_ch4_metop-a
iasi_ch4_metop-b
iasi_ch4_metop-c
iasi_co_metop-a
iasi_co_metop-b
iasi_co_metop-c
tropomi_ch4_s5p
tropomi_co_s5p
tropomi_hcho_s5p
tropomi_so2_s5p
tropomi_no2_s5p
tropomi_o3_s5p
tropess_ch4_airs
tropess_ch4_cris-s
tropess_ch4_cris-1
tropess_co_airs
tropess_co_cris-s
tropess_co_cris-1
tropess_nh3_airs
tropess_nh3_cris-s
tropess_nh3_cris-1
tropess_pan_airs
tropess_pan_cris-s
tropess_pan_cris-1
tropess_o3_airs
tropess_o3_cris-s
tropess_o3_cris-1
mlsco_aura
mlsclo_aura
mlsh2o_aura
mlsn2o_aura
mlshcl_aura
mlshno3_aura
sage3s_h2o_iss
sage3s_o3_iss
sage3l_o3_iss
sage2s_h2o
sage2s_o3
omso2_aura
omno2_aura
gome_minds_no2
omi_minds_no2
tropmi_minds_no2
::
