met_guess::
!var     level   crtm_use    desc                 orig_name
  ps        1      -1         surface_pressure     ps
  z         1      -1         geopotential_height  phis
  oz       72       2         ozone                ozone
::

state_derivatives::
!var  level  src
 ps   1      met_guess
 oz   72     met_guess
 prse 73     met_guess
#sst  central  --> I don't think this is needed
::

state_tendencies::
!var  levels  source
 prse 73      met_guess
 oz   72      met_guess
::

chem_guess::
#!var     level  itracer crtm_use   type              orig_name
# co       72      1        -1       n-a                CO
# co2      72      1        -1       n-a                CO2
#      GOCART Aerosols
#    ------ Dust ------
#du001     72      1         11      dust               DU001
#du002     72      1         11      dust               DU002
#du003     72      1         11      dust               DU003
#du004     72      1         11      dust               DU004
#du005     72      1         11      dust               DU005
#     ------ Sea-salt ------
#ss001     72      1         11      ssam               SS001
#ss002     72      1         11      sscm1              SS002
#ss003     72      1         11      sscm2              SS003
#ss004     72      1         11      sscm3              SS004
#ss005     72      1         11      sea_salt           SS005
#     ------ Sulfates ------
#so4       72      1         11      sulfate            SO4        
#     ------ Carbonaceous (main) ------
#bcphobic  72      1         11      dry_black_carbon   BCPHOBIC
#bcphilic  72      1         11      wet_black_carbon   BCPHILIC
#ocphobic  72      1         11      dry_organic_carbon OCPHOBIC
#ocphilic  72      1         11      wet_organic_carbon OCPHILIC
::

state_vector::
!var     level  itracer source     funcof
 oz       72      1     met_guess    oz
 prse     73      0     met_guess    prse
 ps        1      0     met_guess    prse
::

control_vector::
!var     level  itracer as/tsfc_sdv  an_amp0   source  funcof  be
 oz       72      1       0.20        -1.0     state    oz      -1.00
!             sf    vp    t    q    oz   q2 qi ql qr qs    ps
! afcts_ = "0.51  0.65 0.98 0.62  0.20 0.64  1  1  1  1  0.83"
::
