 &SETUP
  jpch=2948,nstep=90,nsize=20,wgtang=0.008333333,wgtlap=0.0,
  iuseqc=1,dtmax=1.0,
  iyy1=>>>YYYY<<<,
  imm1=>>>MM<<<,
  idd1=>>>DD<<<,
  ihh1=>>>HH<<<,
  iyy2=>>>YYYY<<<,
  imm2=>>>MM<<<,
  idd2=>>>DD<<<,
  ihh2=>>>HH<<<,
  dth=06,ndat=85,

 /
 &OBS_INPUT
    dtype(01)='hirs2',     dplat(01)='tirosn',    dsis(01)='hirs2_tirosn',
    dtype(02)='hirs2',     dplat(02)='n06',       dsis(02)='hirs2_n06',
    dtype(03)='hirs2',     dplat(03)='n07',       dsis(03)='hirs2_n07',
    dtype(04)='hirs2',     dplat(04)='n08',       dsis(04)='hirs2_n08',
    dtype(05)='hirs2',     dplat(05)='n09',       dsis(05)='hirs2_n09',
    dtype(06)='hirs2',     dplat(06)='n10',       dsis(06)='hirs2_n10',
    dtype(07)='hirs2',     dplat(07)='n11',       dsis(07)='hirs2_n11',
    dtype(08)='hirs2',     dplat(08)='n12',       dsis(08)='hirs2_n12',
    dtype(09)='hirs2',     dplat(09)='n14',       dsis(09)='hirs2_n14',
    dtype(10)='hirs3',     dplat(10)='n15',       dsis(10)='hirs3_n15',
    dtype(11)='hirs3',     dplat(11)='n16',       dsis(11)='hirs3_n16',
    dtype(12)='hirs3',     dplat(12)='n17',       dsis(12)='hirs3_n17',
    dtype(13)='hirs4',     dplat(13)='n18',       dsis(13)='hirs4_n18',
    dtype(14)='hirs4',     dplat(14)='n19',       dsis(14)='hirs4_n19',
    dtype(15)='hirs4',     dplat(15)='metop-a',   dsis(15)='hirs4_metop-a',
    dtype(16)='hirs4',     dplat(16)='metop-b',   dsis(16)='hirs4_metop-b',
    dtype(17)='airs',      dplat(17)='aqua',      dsis(17)='airs_aqua',
    dtype(18)='iasi',      dplat(18)='metop-a',   dsis(18)='iasi_metop-a',
    dtype(19)='iasi',      dplat(19)='metop-b',   dsis(19)='iasi_metop-b',
    dtype(20)='cris',      dplat(20)='npp',       dsis(20)='cris_npp',
    dtype(21)='sndr',      dplat(21)='g08_prep',  dsis(21)='sndr_g08',
    dtype(22)='sndr',      dplat(22)='g10_prep',  dsis(22)='sndr_g10',
    dtype(23)='sndr',      dplat(23)='g11_prep',  dsis(23)='sndr_g11',
    dtype(24)='sndr',      dplat(24)='g12_prep',  dsis(24)='sndr_g12',
    dtype(25)='sndrd1',    dplat(25)='g11',       dsis(25)='sndrD1_g11',
    dtype(26)='sndrd2',    dplat(26)='g11',       dsis(26)='sndrD2_g11',
    dtype(27)='sndrd3',    dplat(27)='g11',       dsis(27)='sndrD3_g11',
    dtype(28)='sndrd4',    dplat(28)='g11',       dsis(28)='sndrD4_g11',
    dtype(29)='sndrd1',    dplat(29)='g12',       dsis(29)='sndrD1_g12',
    dtype(30)='sndrd2',    dplat(30)='g12',       dsis(30)='sndrD2_g12',
    dtype(31)='sndrd3',    dplat(31)='g12',       dsis(31)='sndrD3_g12',
    dtype(32)='sndrd4',    dplat(32)='g12',       dsis(32)='sndrD4_g12',
    dtype(33)='sndrd1',    dplat(33)='g13',       dsis(33)='sndrD1_g13',
    dtype(34)='sndrd2',    dplat(34)='g13',       dsis(34)='sndrD2_g13',
    dtype(35)='sndrd3',    dplat(35)='g13',       dsis(35)='sndrD3_g13',
    dtype(36)='sndrd4',    dplat(36)='g13',       dsis(36)='sndrD4_g13',
    dtype(37)='sndrd1',    dplat(37)='g14',       dsis(37)='sndrD1_g14',
    dtype(38)='sndrd2',    dplat(38)='g14',       dsis(38)='sndrD2_g14',
    dtype(39)='sndrd3',    dplat(39)='g14',       dsis(39)='sndrD3_g14',
    dtype(40)='sndrd4',    dplat(40)='g14',       dsis(40)='sndrD4_g14',
    dtype(41)='sndrd1',    dplat(41)='g15',       dsis(41)='sndrD1_g15',
    dtype(42)='sndrd2',    dplat(42)='g15',       dsis(42)='sndrD2_g15',
    dtype(43)='sndrd3',    dplat(43)='g15',       dsis(43)='sndrD3_g15',
    dtype(44)='sndrd4',    dplat(44)='g15',       dsis(44)='sndrD4_g15',
    dtype(45)='seviri',    dplat(45)='m08',       dsis(45)='seviri_m08',
    dtype(46)='seviri',    dplat(46)='m09',       dsis(46)='seviri_m09',
    dtype(47)='seviri',    dplat(47)='m10',       dsis(47)='seviri_m10',
    dtype(48)='msu',       dplat(48)='tirosn',    dsis(48)='msu_tirosn',
    dtype(49)='msu',       dplat(49)='n06',       dsis(49)='msu_n06',
    dtype(50)='msu',       dplat(50)='n07',       dsis(50)='msu_n07',
    dtype(51)='msu',       dplat(51)='n08',       dsis(51)='msu_n08',
    dtype(52)='msu',       dplat(52)='n09',       dsis(52)='msu_n09',
    dtype(53)='msu',       dplat(53)='n10',       dsis(53)='msu_n10',
    dtype(54)='msu',       dplat(54)='n11',       dsis(54)='msu_n11',
    dtype(55)='msu',       dplat(55)='n12',       dsis(55)='msu_n12',
    dtype(56)='msu',       dplat(56)='n14',       dsis(56)='msu_n14',
    dtype(57)='ssu',       dplat(57)='tirosn',    dsis(57)='ssu_tirosn',
    dtype(58)='ssu',       dplat(58)='n06',       dsis(58)='ssu_n06',
    dtype(59)='ssu',       dplat(59)='n07',       dsis(59)='ssu_n07',
    dtype(60)='ssu',       dplat(60)='n08',       dsis(60)='ssu_n08',
    dtype(61)='ssu',       dplat(61)='n09',       dsis(61)='ssu_n09',
    dtype(62)='ssu',       dplat(62)='n11',       dsis(62)='ssu_n11',
    dtype(63)='ssu',       dplat(63)='n14',       dsis(63)='ssu_n14',
    dtype(64)='amsua',     dplat(64)='n15',       dsis(64)='amsua_n15',
    dtype(65)='amsua',     dplat(65)='n16',       dsis(65)='amsua_n16',
    dtype(66)='amsua',     dplat(66)='n17',       dsis(66)='amsua_n17',
    dtype(67)='amsua',     dplat(67)='n18',       dsis(67)='amsua_n18',
    dtype(68)='amsua',     dplat(68)='n19',       dsis(68)='amsua_n19',
    dtype(69)='amsua',     dplat(69)='aqua',      dsis(69)='amsua_aqua',
    dtype(70)='amsua',     dplat(70)='metop-a',   dsis(70)='amsua_metop-a',
    dtype(71)='amsua',     dplat(71)='metop-b',   dsis(71)='amsua_metop-b',
    dtype(72)='atms',      dplat(72)='npp',       dsis(72)='atms_npp',
    dtype(73)='amsub',     dplat(73)='n15',       dsis(73)='amsub_n15',
    dtype(74)='amsub',     dplat(74)='n16',       dsis(74)='amsub_n16',
    dtype(75)='amsub',     dplat(75)='n17',       dsis(75)='amsub_n17',
    dtype(76)='mhs',       dplat(76)='n18',       dsis(76)='mhs_n18',
    dtype(77)='mhs',       dplat(77)='n19',       dsis(77)='mhs_n19',
    dtype(78)='mhs',       dplat(78)='metop-a',   dsis(78)='mhs_metop-a',
    dtype(79)='mhs',       dplat(79)='metop-b',   dsis(79)='mhs_metop-b',
    dtype(80)='ssmi',      dplat(80)='f08',       dsis(80)='ssmi_f08',
    dtype(81)='ssmi',      dplat(81)='f10',       dsis(81)='ssmi_f10',
    dtype(82)='ssmi',      dplat(82)='f11',       dsis(82)='ssmi_f11',
    dtype(83)='ssmi',      dplat(83)='f13',       dsis(83)='ssmi_f13',
    dtype(84)='ssmi',      dplat(84)='f14',       dsis(84)='ssmi_f14',
    dtype(85)='ssmi',      dplat(85)='f15',       dsis(85)='ssmi_f15',
/
